body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: antiquewhite;
    background-color: aquamarine;
}
h2{
    color: bisque;
    background-color: blanchedalmond;
}

/* test codes */

form {
    display: flex;
    justify-self: unset;
    align-items: baseline;
}